*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

img {
   max-width: 100%;
   height: auto;
   vertical-align: middle;
   font-style: italic;
   background-repeat: no-repeat;
   background-size: cover;
}

a {
   color: inherit;
   text-decoration: inherit;
}

.ant-select-selection-item {
   color: var(--color-primary-text);
}